<tr class="admin_room_item">
  <td><%= booking_counter + 1 %></td>
  <td><%= booking.room_name %></td>
  <td><%= booking.price %></td>
  <td><%= booking.checkin %></td>
  <td><%= booking.checkout %></td>
  <td class="btn-action">
    <%= link_to t(".view"),
                admin_user_bill_booking_path(@user, @bill, booking),
                class: "btn btn-block btn-info btn-action"
    %>
  </td>
</tr>
