<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 offset-1">
      <%= t ".room_name" %>:
    </div>
    <div class="col-md-9">
      <%= @booking.room_name %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 offset-1">
      <%= t ".price" %>:
    </div>
    <div class="col-md-9">
      <%= @booking.room_price %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 offset-1">
      <%= t ".created_at" %>:
    </div>
    <div class="col-md-9">
      <%= @booking.created_at %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 offset-1">
      <%= t ".checkin" %>:
    </div>
    <div class="col-md-9">
      <%= @booking.checkin %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 offset-1">
      <%= t ".checkout" %>:
    </div>
    <div class="col-md-9">
      <%= @booking.checkout %>
    </div>
  </div>
</div>
