<div class="container-fluid">
  <%= link_to t(".back"), _back_url, class: "back_url" %>
  <div class="row list-room-admin">
    <div class="col-md-3 image">
      <%= image_tag @booking.room_pictures[0].picture_url %>
    </div>
    <div class="col-md-9">
      <h3 class="room-name"><%= @booking.room_name %></h3>
      <ul class="room-des">
        <li><%= t ".view" %> <%= @booking.room_view_name %></li>
        <li><%= t ".price" %><%= number_with_delimiter @booking.room_price, delimiter: "." %><%= t ".vnd" %></li>
        <li><%= t ".type" %> <%= @booking.room_type_name %></li>
        <li><%= t ".checkin" %> <%= @booking.checkin.strftime Settings.date_time %></li>
        <li><%= t ".checkout" %> <%= @booking.checkout.strftime Settings.date_time %></li>
        <li><%= t ".des" %> <%= @booking.room_des %></li>
      </ul>
      <% if @booking.booking_services.present?  %>
        <div class="main-service">
          <h4 class="room-name"><%= t ".services" %></h4>
          <%= render partial: "booking_service" , collection: @booking.booking_services, as: :item %>
        </div>
      <% end %>
    </div>
  </div>
</div>
