<div class="modal" id="servicemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= form_for @service, url: check_url_service(@service), remote: true do |f| %>
          <%= render "admin/shared/error_message", object: f.object %>
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
          <%= f.label :price %>
          <%= f.number_field :price, class: "form-control" %>
          <%= f.label :unity_id %>
          <%= f.select :unity_id, @unity_array, {include_blank: "Select unity"}, {class: "form-control"} %>
          <%= f.label :des %>
          <%= f.text_area :des, class: "form-control" %>
          <%= f.submit t( ".submit"), class: "btn btn-primary mt-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
