<% provide :title, t(".list_bill") %>
<div class="content-header">
  <div class="container-fluid">
    <%= link_to t(".back"), _back_url, class: "back_url" %>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title"><%= t ".list_bill" %></h3>
          </div>
          <div class="card-body table-responsive p-0">
            <div class="customer-info">
              <div class="row">
                <div class="col-md-2">
                  <div><%= t ".customer" %>:</div>
                </div>
                <div><%= @user.name %></div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <%= t ".bill_total_waiting" %>:
                </div>
                <div class="col-md-2">
                  <%= @total_bill.waiting.size %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <%= t ".bill_total_accept" %>:
                </div>
                <div class="col-md-2">
                  <%= @total_bill.accept.size %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <%= t ".bill_total_cancelled" %>:
                </div>
                <div class="col-md-2">
                  <%= @total_bill.cancelled.size %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <%= t ".bill_total_complete" %>:
                </div>
                <div class="col-md-2">
                  <%= @total_bill.completed.size %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <%= t ".email" %>:
                </div>
                <div class="col-md-2">
                  <%= @user.email %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <%= t ".address" %>:
                </div>
                <div class="col-md-2">
                  <%= @user.address %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <%= t ".gender" %>:
                </div>
                <div class="col-md-6">
                  <%= @user.gender %>
                </div>
              </div>
            </div>
            <div id="main-content-admin" >
              <%= select_tag "bill_filter",options_for_select(option_status_bill),
                             { class: "browser-default custom-select select-bill", data: {url: admin_user_bills_path(@user.id)}} %>
            </div>
            <table class="table table-hover text-center" id="table-admin-bill">
              <thead>
                <tr>
                  <th></th>
                  <th><%= t ".status" %></th>
                  <th><%= t ".price" %></th>
                  <th><%= t ".create" %></th>
                  <th class="btn-bill"><%= t ".detail" %></th>
                </tr>
              </thead>
              <tbody id="admin-list-booking">
                <%= render partial: "bill", collection: @bills %>
              </tbody>
            </table>
            <div id="paginator">
              <%= paginate @bills, theme: "twitter-bootstrap-3", remote: true %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag "admin_view_type_bill" %>
