<div class="container">
  <h1><%= t ".title" %></h1>
  <p><%= t ".hi" %>  <%= @user.name %>,</p>
  <p><%= t ".success" %></p>
  <div class="row">
    <div style="width: 70%; margin: 0 auto">
      <div style="line-height: 30px; background: #db9f3b; text-align: center; font-weight: bold"><%= t ".info" %> </div>
      <div style="background-color: #D7D5D2">
        <div style="padding: 20px 15px; border-bottom: 2px solid black">
          <div><%= t ".checkin" %><%= @bill.bookings[0].checkin.strftime Settings.date_time %></div>
          <div><%= t ".checkout" %> <%= @bill.bookings[0].checkout.strftime Settings.date_time %></div>
          <div><%= t ".create" %><%= @bill.created_at.strftime Settings.date_time %></div>
        </div>
        <%  @bill.bookings.each do |book| %>
          <ul style="list-style: none; border-bottom: 2px solid black">
            <li> <%= t ".room_name" %><%= book.room_name %></li>
            <li><%= t ".type_name" %><%= book.room_type_name %></li>
            <li><%= t ".view_name" %><%= book.room_view_name %></li>
            <li><%= t ".room_price" %><%= number_with_delimiter book.room_price, delimiter: "." %><%= t ".vnd" %></li>
            <li><%= t ".rent" %><%= number_with_delimiter book.price, delimiter: "." %><%= t ".vnd" %></li>
          </ul>
        <% end %>
        <p style="color: #524633 ; font-weight: bold"><%= t ".total" %><%= number_with_delimiter @bill.price, delimiter: "." %><%= t ".vnd" %></p>
      </div>
    </div>
  </div>
</div>
