<%= form_for room, url: check_url_room(room) do |f| %>
  <%= render "admin/shared/show_err_room", field: :name %>
  <%= f.label :name, class: "control-label label-field" %>
  <%= f.text_field :name, class: "form-control form-input", required: true %>
  <%= render "admin/shared/show_err_room", field: :price %>
  <%= f.label :price, class: "control-label label-field" %>
  <%= f.number_field :price, class: "form-control form-input", required: true %>
  <%= render "admin/shared/show_err_room", field: :type_id %>
  <%= f.label :type_id, class: "control-label label-field" %>
  <%= f.select :type_id, type_arr, {include_blank: t(".select_type")}, {class: "form-control form-input", required: true} %>
  <%= render "admin/shared/show_err_room", field: :view_id %>
  <%= f.label :view_id, class: "control-label label-field" %>
  <%= f.select :view_id, view_arr, {include_blank: t(".select_view")}, {class: "form-control form-input", required: true} %>
  <%= render "admin/shared/show_err_room", field: :des %>
  <%= f.label :des, class: "control-label label-field" %>
  <%= f.text_area :des, class: "form-control form-input des-text-area", required: true %>
  <%= render "admin/shared/show_picture_error" %>
  <%= f.label :pictures, class: "control-label label-field"%>
  <div class="image-preview">
    <table class="user-photo-form">
      <%= f.fields_for :pictures do |picture| %>
        <%= render "picture_fields", f: picture %>
      <% end %>
    </table>
    <%= link_to_add_association t(".add_photo"), f, :pictures, class: "btn-add-photo" %>
  </div>
  <div class="row btn-submit-wrap">
    <div class="col-md-3">
      <%= f.submit t(".submit"), class: "btn btn-primary btn-submit-room" %>
    </div>
    <div class="col-md-3 offset-1">
      <%= f.submit t(".reset"), class: "btn btn-default btn-reset-room", type: "reset" %>
    </div>
  </div>
<% end %>
