<tr class="admin_room_item row">
  <td class="col-md-1 center"><%= room_counter + 1 %></td>
  <td class="col-md-2">
    <%= image_tag room.pictures[0].picture_url %>
  </td>
  <td class="col-md-1"><%= room.name %></td>
  <td class="col-md-1 center"><%= room.price %></td>
  <td class="col-md-4"><%= room.des %></td>
  <td class="col-md-1 center"><%= room.type_name %></td>
  <td class="col-md-1 center"><%= room.view_name %></td>
  <td class="col-md-1">
    <%= link_to t(".edit"), edit_admin_room_path(room), class: "btn btn-block btn-primary btn-action" %>
    <%= link_to t(".delete"), admin_room_path(room), method: :delete, data: {confirm: t("global.you_sure")}, class: "btn btn-block btn-danger btn-action" %>
  </td>
</tr>
