<tr class="admin_room_item row">
  <td class="col-md-1 center"><%= room_counter + 1 %></td>
  <td class="col-md-2">
    <%= image_tag room.pictures[0].picture_url %>
  </td>
  <td class="col-md-1 admin-room-name"><%= room.name %></td>
  <td class="col-md-1 center"><%= number_with_delimiter(room.price, delimiter: ".") %><%= t "global.vnd" %></td>
  <td class="col-md-3"><%= room.des %></td>
  <td class="col-md-1 center"><%= room.type_name %></td>
  <td class="col-md-1 center"><%= room.view_name %></td>
  <td class="col-md-1">
    <div class="col-md-6">
      <%= link_to edit_admin_room_path(room), class: "btn btn-primary btn-action" do %>
        <i class="fas fa-pencil-alt"></i>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= link_to admin_room_path(room), method: :delete, data: {confirm: t("global.you_sure")}, class: "btn btn-danger btn-action" do %>
        <i class="fas fa-trash"></i>
      <% end %>
    </div>
