<div class="modal" id="typemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= form_for @type, url: check_url_type(@type), remote: true do |f| %>
          <%= render "admin/shared/error_message", object: f.object %>
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
          <%= f.submit t(".submit"), class: "btn btn-primary mt-3"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
