<tr class="bill">
  <th scope="row"><%= index_of_page(@bills) + bill_counter %></th>
  <td><%= bill.id%></td>
  <td><%= bill.created_at %></td>
  <td><%= bill.price %></td>
  <td><%= bill.status %></td>
  <td>
    <%= link_to bill_path(id: bill.id), class:"btn btn-outline-info bill-view" do %>
      <i class="fa fa-eye" aria-hidden="true"></i>
    <% end %>
    <% if bill.waiting? %>
      <%= link_to bookings_path(bill_id: bill.id), class:"btn btn-outline-info bill-view" do %>
        <i class="fas fa-edit"></i>
      <% end %>
      <button class="btn btn-outline-danger bill-cancle" data-url="<%= reservation_path(bill.id) %>">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
    <% end %>
  </td>

</tr>
