<% provide :title, t(".all_unity") %>
<div class="content-header">
  <div class="container-fluid">
    <button type="button" class="btn btn-primary float-sm-right" data-toggle="modal" data-target="#unitymodal">
      <i class="fas fa-plus"></i> <%= t ".add_unity" %>
    </button>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title"><%= t ".list_unity" %></h3>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <thead>
              <tr>
                <th><%= t ".id" %></th>
                <th><%= t ".unity_name" %></th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
                <%= render @unities %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "admin/unities/form" %>
