<h1>
  <%= @room.average_score if @room.rates.present? %>
  <i class="fas fa-star big-star on"></i>
</h1>
<div class="total_votes">
  (<%= @room.rates.count %> <%= t "global.rating" %>)
</div>
<% if logged_in? && current_user.booked?(@room) %>
  <% (1..5).each do |i| %>
    <i class="<%= @rate ? add_on_class(i, @rate.score) : "" %> fas fa-star rating_star"
       data-stars="<%= i %>"
       data-room-id="<%= @room.id %>"
       data-method="<%= @rate.present? ? "PATCH" : "POST" %>"
       data-url="<%= @rate.present? ? "/rates/"+"#{@rate.id}" : "/rates" %>"
       id="<%= "#{@room.id}_#{i}" %>"
    ></i>
  <% end %>
<% else %>
  <div class="reservation_to_rate"><%= t "global.reservation_to_rate" %></div>
<%end %>
