<div class="container-fluid">
  <div class="row list_room_item_1">
    <div class="col-md-4 offset-1 list_room_item_content">
      <div>
        <h3><%= room.name %></h3>
        <div class="room_price"><%= t ".start_from" %> <b class="price">$<%= room.price %></b> / <%= t ".night" %></div>
        <div><%= room.des %></div>
        <div class="info">
          <div><%= t ".deposit" %>: <%= Settings.deposit %>%</div>
          <div><%= t ".type" %>: <%= room.type_name %></div>
          <div><%= t ".view" %>: <%= room.view_name %></div>
        </div>

        <div class="detail_link">
          <%= link_to t(".view_detail"), room %>
        </div>
      </div>
    </div>
    <div class="col-md-5 offset-1 list_room_item_image">
      <%= image_tag room.pictures[0].picture_url %>
    </div>
  </div>
</div>
