<div class="container-fluid show_detail_room">
  <div id="room_detail" class="container-fluid">
    <div class="row">
      <div id="image" class="col-md-6 offset-1">
        <%= image_tag @room.pictures[0].picture_url if @room.pictures[0].present? %>
      </div>
      <div class="col-md-5">
        <h1 class="room_title col-md-12"><%= @room.name %></h1>
        <div class="col-md-12" id="average_score">
          <%= render partial: "average_score", room: @room, rate: @rate %>
        </div>
        <div id="price" class="col-md-12">
          <%= t ".start_from" %> <b class="price_room"><%= number_with_delimiter(@room.price, delimiter: ".") %><%= t "global.vnd" %></b> / <%= t ".night" %>
        </div>
        <div class="col-md-12" id="check_room_available">
          <%= render "rooms/form_check_room_available", locals: {room: @room} %>
        </div>
        <div class="col-md-12" id="book_now"></div>
      </div>
    </div>
  </div>
  <div id="description" class="container-fluid">
    <div id="des" class="container">
      <div class="row">
        <div  class="col-md-12">
          <h3><%= t ".des" %></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-3">
          <%= @room.des %>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-3">
          <div><b><%= t ".type" %>:</b> <%= @room.type_name %></div>
          <div><b><%= t ".view" %>:</b> <%= @room.view_name %></div>
          <hr />
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" id="comment">
    <div class="container">
      <div class="row">
        <div  class="col-md-12">
          <h3><%= t ".comment" %></h3>
        </div>
      </div>
      <div class="row">
        <div class="comments-container">
          <%= render partial: "rooms/comments/comments", locals: {commentable: @room} %>
          <div class="comment_form">
            <%= render partial: "rooms/comments/comment_form", locals: {commentable: @room}%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="room_relate" class="container-fluid">
    <div class="container">
      <div class="row">
        <div  class="col-md-12">
          <h3><%= t ".relate_room" %></h3>
        </div>
      </div>
      <div class="row">
        <%= render partial: "relate_room", collection: @relate_rooms %>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag "room_rating" %>
<%= javascript_pack_tag "comment" %>
