<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <div class="sidebar">
    <nav class="mt-2" style="padding-top: 50px">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item app_title_admin">
          <%= link_to root_path, class: "nav-link" do %>
            <p><%= t ".Monalisa" %></p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_root_path, class: current_path_admin?(admin_root_path) do %>
            <p><%= t ".dashboard" %></p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_reservations_path, class: current_path_admin?(admin_reservations_path) do %>
            <p><%= t ".reservation" %></p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_users_path, class: current_path_admin?(admin_users_path) do %>
            <p><%= t ".client" %></p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_views_path, class: current_path_admin?(admin_views_path) do %>
            <p>
              <%= t ".room_view" %>
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_types_path, class: current_path_admin?(admin_types_path) do %>
            <p>
              <%= t ".room_type" %>
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_unities_path, class: current_path_admin?(admin_unities_path) do %>
            <p>
              <%= t ".service_unity" %>
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_services_path, class: current_path_admin?(admin_services_path) do %>
            <p>
              <%= t ".service" %>
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_rooms_path, class: current_path_admin?(admin_rooms_path) do %>
            <p>
              <%= t ".room" %>
            </p>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</aside>
