<div id="header">
  <div class="contact_phone">
    <%= t ".contact" %>
  </div>
  <div class="i18n">
    <%= link_to t(".en"), locale: :en %>
    <%= link_to t(".vi"), locale: :vi %>
    <% if !user_signed_in? %>
      <%= link_to t(".signup"), new_user_registration_path, class: "sign font-weight-bold" %>
      <%= link_to t(".signin"), new_user_session_path, class: " sign font-weight-bold" %>
    <% end %>
  </div>
</div>

