<div id="menu">
  <ul>
    <li><%= link_to t(".home"), root_path, class: current_path?(root_path) %></li>
    <li><%= link_to t(".about_us"), about_path, class: current_path?(about_path) %></li>
    <li><%= link_to t(".our_room"), rooms_path, class: current_path?(rooms_path) %></li>
  </ul>
  <%= image_tag "logo.png" %>
  <ul>
    <li><%= link_to t(".reservation"), new_reservation_path, class: current_path?(new_reservation_path) %></li>
    <li><%= link_to t(".contact"), contact_path, class: current_path?(contact_path) %></li>
    <% if user_signed_in? %>
        <li class="nav-item dropdown" id="show_drop">
          <button type="button" class="nav-link dropdown-toggle drop-btn" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name %>
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to edit_user_path(current_user.id), class: "dropdown-item has-icon" do %>
              <i class="far fa-user"></i> <%= t ".profile" %>
            <% end %>
            <%= link_to user_path(current_user.id), class: "dropdown-item has-icon" do %>
              <i class="far fa-cog"></i> <%= t ".settings" %>
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item has-icon text-danger" do %>
              <i class="fas fa-sign-out-alt"></i> <%= t ".logout" %>
            <% end %>
          </div>
        </li>
      <% end %>
  </ul>
</div>
