<div id="menu">
  <ul>
    <li><%= link_to t(".home"), root_path %></li>
    <li><%= link_to t(".about_us"), about_path %></li>
    <li><%= link_to t(".our_room"), "#" %></li>
  </ul>
  <%= image_tag "logo.png" %>
  <ul>
    <li><%= link_to t(".reservation"), "#" %></li>
    <li><%= link_to t(".contact"), contact_path %></li>
    <li><%= link_to t(".account"), "#" %></li>
  </ul>
</div>
