<p><%= t "devise.mailer.unlock_instructions.hello" %><%= @resource.email %>!</p>

<p><%= t "devise.mailer.unlock_instructions.account" %></p>

<p><%= t "devise.mailer.unlock_instructions.click" %></p>

<p><%= link_to t("devise.mailer.unlock_instructions.unlock"), unlock_url(@resource, unlock_token: @token) %></p>
